* text=auto eol=lf

packaging/** linguist-generated=true
cli/** linguist-generated=true
renderer/public/fonts/** linguist-generated=true

src/tests/** linguist-vendored=true
src/bench/** linguist-vendored=true
*.tmpl linguist-vendored=true

docs/** linguist-documentation=false
*.dsmx linguist-language=ASL
