<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>dsmx-app</id>
    <version>{{VERSION}}</version>
    <packageSourceUrl>https://github.com/{{REPO}}/tree/main/packaging/chocolatey</packageSourceUrl>
    <owners>KingJayan</owners>
    <title>Desmos IDE</title>
    <authors>KingJayan</authors>
    <projectUrl>https://github.com/{{REPO}}</projectUrl>
    <licenseUrl>https://github.com/{{REPO}}/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/{{REPO}}</projectSourceUrl>
    <bugTrackerUrl>https://github.com/{{REPO}}/issues</bugTrackerUrl>
    <tags>desmos math graphing ide dsl</tags>
    <summary>An IDE for Desmos with a custom DSL</summary>
    <description>
Code your desmos graphs with a custom DSL and run them in a native desktop app.

The installer is not signed with an Authenticode certificate. SmartScreen and some
antivirus products report an unknown publisher.
    </description>
    <releaseNotes>https://github.com/{{REPO}}/releases/tag/v{{VERSION}}</releaseNotes>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
